@import '_normalize.styl'
@import '_typography.styl'

body
  background offwhite
  font-size 18px

#root>div
  display flex
  flex-direction column
  align-items center

.control-panel
  display flex
  justify-content center
  margin-bottom 20px

button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 15%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  color blue
  transition all 0.2s
  box-sizing padding-box
button
  &:hover, &:focus
    border-color blue
    outline 0

.tile-board
  background #ccc
  width 100%
  margin auto
  font-size 0px

.tile
  display: inline-block

.game-tile-inner
  width 100%
  height 100%

.dead .game-tile-inner
  background blue

.alive .game-tile-inner
  background red

h1
  font-size 4em


